:root{
    --cor-de-fundo: #000000;
    --cor-principal: #ffffff;
    --cor-secundaria: #00c635;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-principal);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav_links{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin: 50px 40px 0 0;
}

.link_navbar{
    padding: 1em 1em;
    text-decoration: none;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--cor-secundaria);
    transition: all 1000ms;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    outline: 2px solid var(--cor-secundaria);
}

.link_navbar:hover{
    color: #ffffff;
    transform: scale(1.05);
    outline: 2px solid var(--cor-secundaria);
    box-shadow: 4px 5px 17px -4px var(--cor-secundaria);
}

.link_navbar:before{
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--cor-secundaria);
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.link_navbar:hover:before{
    width: 250%;
}

.container_primario{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.container_texto{
    margin: 0 90px 0 40px;
}

.container_texto h1{
    font-size: 62px;
    color: var(--cor-principal);
    margin-bottom: 10px;
}

.container_texto hr{
    width: 75%;
    height: 3px;
    background-color: white;
    margin: 0 0 30px 0;
}

.blur-light {
    position: absolute;
    margin: 150px 0 0 -45px;
    top: 0;
    left: 0;
    width: 250px;
    height: 200px;
    background: radial-gradient(circle, var(--cor-secundaria));
    filter: blur(50px);
    opacity: 0.8;
    z-index: -1;
  }
  
  

.botao_curriculo{
    text-decoration: none;
    color: var(--cor-principal);
    font-size: 24px;
    font-weight: bolder;
    border: 2px solid var(--cor-secundaria);
    padding: 12px 40px;
    border-radius: 10px;
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.botao_curriculo:hover{
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
}

.redesSociais{
    display: flex;
    margin-top: 40px;
    gap: 40px;
}

.link_redeSocial{
    text-decoration: none;
}

.logo_redeSocial{
    width: 50px;
    height: auto;
}

.container_textoApresentacao{
    display: flex;
    justify-content: center;
    
}

#cursor,
#box,
#text {
  cursor: pointer;
}
#cursor {
  overflow: visible;
  transform: translate3d(300px, 0, 0) scale(1);
  transform-origin: center center;
  transform-box: fill-box;
  animation: cursor 5s ease infinite alternate;
}
@keyframes cursor {
  0% {
    opacity: 0;
    transform: translate3d(300px, 0, 0) scale(1);
  }
  30% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
  60% {
    opacity: 1;
    transform: translate3d(-200px, -200px, 0) scale(1);
  }

  /* clique */
  65% {
    opacity: 1;
    transform: translate3d(-200px, -200px, 0) scale(0.95);
  }
  70% {
    opacity: 1;
    transform: translate3d(-200px, -200px, 0) scale(1);
  }

  100% {
    opacity: 1;
    transform: translate3d(-300px, -50px, 0) scale(1);
  }
}

#box {
  opacity: 0;
  animation: box 5s ease infinite alternate;
}
@keyframes box {
  0%,
  60% {
    opacity: 0;
  }
  65%,
  100% {
    opacity: 1;
  }
}
#text {
}


.container_secundario{
    margin-top: 120px;
}

.container_sobremim{
    display: flex;
    margin: 40px;
}

.container_descricaoSobremim{
    margin-left: 80px;
}

.container_descricaoSobremim h2{
    font-size: 40px;
    color: var(--cor-secundaria);
    margin-bottom: 20px;
}

.container_descricaoSobremim p{
    font-size: 18px;
    color: var(--cor-principal);
    margin-top: 20px;
}

.imagem_sobremim{
    width: 600px;
    height: 500px;
    border-radius: 80px;
    margin: 0 0 0 40px;
    border: 4px solid var(--cor-secundaria);
}

.container_terciaria{
    padding: 50px 0 0 40px;
}

.titulo_skills{
    display: flex;
    margin-top: 120px;
    margin-bottom: 80px;
    justify-content: center ;
    font-size: 40px;
    color: var(--cor-secundaria);
}

.slider{
    height: 250px;
    margin: auto;
    margin-bottom: 100px;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide_track{
    display: flex;
    width: calc(450px * 24);
    animation: scroll 20s linear infinite;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-450px * 12));
    }
}

.slide{
    height: 200px;
    width: 450px;
    display: flex;
    align-items: center;
    padding: 15px;
}

slide img{
    width: 100%;
}

slide img:hover{
    transform: translateZ(20px);
}

.titulo_contato{
    display: flex;
    margin-top: 200px;
    justify-content: center;
    font-size: 40px;
    color: var(--cor-secundaria);
}

.container_contato{
    margin: 60px 0 0 40px;
    font-size: 24px;
}

.contato_email h2{
    margin-bottom: 10px;
}

.contato_email p{
    margin-top: 0px;
    color: var(--cor-secundaria);
}

.titulo_projetos{
    display: flex;
    margin-top: 200px;
    justify-content: center;
    font-size: 40px;
    color: var(--cor-secundaria);
}
